<div class="product-section">
  <h2 class="accessory-message">Completa tu look con nuestros accesorios</h2>
  
  <!-- Versión para escritorio (grid) -->
  <div class="product-icons desktop-version">
    <div class="icon-item">
      <div class="icon">
        <i class="pi pi-sparkles"></i>
      </div>
      <h3>ACCESORIOS</h3>
      <p>Lleva tu look al siguiente nivel y complétalo con nuestros accesorios exclusivos</p>
    </div>
   
    <div class="icon-item">
      <div class="icon">
        <i class="pi pi-heart"></i>
      </div>
      <h3>LIPSTICK</h3>
      <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
    </div>
    
    <div class="icon-item">
      <div class="icon">
        <i class="pi pi-bell"></i>
      </div>
      <h3>NOTIFICATIONS</h3>
      <p>Recibe notificaciones y sé el primero en conocer nuestras ofertas y descuentos exclusivos</p>
    </div>
    
    <div class="icon-item">
      <div class="icon">
        <i class="pi pi-users"></i>
      </div>
      <h3>BE A CLIENT</h3>
      <p>Únete a nuestra comunidad y disfruta de beneficios exclusivos para clientes</p>
    </div>
  </div>
  
  <!-- Versión para móvil (carrusel) -->
  <p-carousel *ngIf="isMobile" [value]="iconItems" [numVisible]="1" [numScroll]="1" 
              [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions"
              class="mobile-version">
    <ng-template let-item pTemplate="item">
      <div class="icon-item">
        <div class="icon">
          <i [class]="item.icon"></i>
        </div>
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </ng-template>
  </p-carousel>


</div>