<p-dialog
  (onHide)="close()"
  [modal]="true"
  [(visible)]="isModalVisible"
  [style]="{ 'border-radius': '0', width: '35rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <div class="p-6" data-aos="fade-up">
    <h2 class="text-3xl font-bold text-center text-gray-900 mb-6">
      Iniciar sesión
    </h2>

    <img
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730395938/images-AR/wyicw2mh3xxocscx0diz.png"
      alt="Logo de la empresa"
      class="w-32 h-auto mx-auto mb-8"
    />

    <form
      class="space-y-6"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      method="post"
    >
      <!-- Email/Teléfono -->
      <div class="space-y-3">
        <div class="flex items-center justify-between text-base">
          <label for="email" class="font-medium text-gray-900">{{
            usePhoneLogin ? "Teléfono" : "Email"
          }}</label>
          <span
            class="text-gray-600 underline cursor-pointer hover:text-gray-800"
            (click)="toggleLoginMethod()"
          >
            o inicia sesión con {{ usePhoneLogin ? "Email" : "teléfono" }}
          </span>
        </div>

        <div *ngIf="!usePhoneLogin; else phoneLogin">
          <input
            type="text"
            placeholder="Introduce tu correo electrónico"
            formControlName="email"
            id="email"
            class="w-full px-5 py-3 text-lg rounded-none border border-gray-300 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-900 focus:border-transparent transition"
            required
            [pattern]="'^[a-zA-Z0-9][\\w.-]*@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$'"
            [disabled]="isLocked"
          />
        </div>

        <ng-template #phoneLogin>
          <div>
            <input
              type="tel"
              placeholder="Introduce tu número de teléfono"
              formControlName="telefono"
              id="phone"
              class="w-full px-5 py-3 text-lg rounded-none border border-gray-300 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-900 focus:border-transparent transition"
              required
              [pattern]="'^[0-9]{9,15}$'"
              [disabled]="isLocked"
            />
          </div>
        </ng-template>

        <!-- Errores -->
        <div *ngIf="!usePhoneLogin">
          <div
            *ngIf="
              loginForm.get('email')?.hasError('required') &&
              loginForm.get('email')?.touched &&
              !isGoogleLogin
            "
            class="text-gray-900 text-sm mt-1"
          >
            El correo es obligatorio.
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.hasError('pattern') &&
              loginForm.get('email')?.touched &&
              !isGoogleLogin
            "
            class="text-gray-900 text-sm mt-1"
          >
            Introduce un correo válido.
          </div>
        </div>

        <div *ngIf="usePhoneLogin">
          <div
            *ngIf="
              loginForm.get('telefono')?.hasError('required') &&
              loginForm.get('telefono')?.touched
            "
            class="text-gray-900 text-sm mt-1"
          >
            El teléfono es obligatorio.
          </div>
          <div
            *ngIf="
              loginForm.get('telefono')?.hasError('pattern') &&
              loginForm.get('telefono')?.touched
            "
            class="text-gray-900 text-sm mt-1"
          >
            Introduce un teléfono válido (9-15 dígitos).
          </div>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="space-y-3">
        <label for="password" class="font-medium text-gray-900"
          >Contraseña</label
        >
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            (input)="verificarPassword()"
            id="password"
            class="w-full px-5 py-3 text-lg rounded-none border border-gray-300 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-900 focus:border-transparent transition"
            placeholder="Ingresa tu contraseña"
            [disabled]="!loginForm.get('email')"
          />
          <button
            type="button"
            (click)="showPassword = !showPassword"
            class="absolute right-3 top-3 text-gray-500 hover:text-gray-900"
          >
            <i [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
          </button>
        </div>

        <p [ngClass]="passwordStrengthClass" class="text-sm mt-1">
          {{ passwordStrengthMessage }}
        </p>
        <div
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
          class="text-gray-900 text-sm"
        >
          La contraseña es obligatoria.
        </div>

        <div
          *ngIf="faltantes.length > 0 && loginForm.get('password')?.value"
          class="text-sm text-gray-600 mt-2"
        >
          <p class="font-medium">La contraseña debe contener:</p>
          <ul class="list-disc list-inside pl-4">
            <li *ngFor="let falta of faltantes">{{ falta }}</li>
          </ul>
        </div>
      </div>

      <!-- Captcha -->
      <div class="mt-6 w-full flex justify-center">
        <div
          id="captcha-container"
          class="mx-auto"
          style="display: flex; justify-content: center"
          data-sitekey="6Ld8joAqAAAAABuc_VUhgDt7bzSOYAr7whD6WeNI"
          data-theme="light"
        ></div>
      </div>
      <!-- Mensaje de error principal -->
      <div
        *ngIf="errorMessage"
        class="text-base font-medium text-red-600 text-center mt-3"
      >
        {{ errorMessage }}
      </div>

      <!-- Mensaje de bloqueo por intentos fallidos -->
      <div
        *ngIf="isLocked"
        class="text-base font-medium text-red-600 text-center mt-3"
      >
        Intenta nuevamente en {{ remainingTime }} segundos.
      </div>

      <!-- Botón -->
      <button
        type="submit"
        class="w-full py-3 text-lg rounded-none bg-gray-900 text-white font-medium hover:bg-gray-800 transition duration-300 disabled:opacity-50 flex justify-center items-center"
        [class.loading]="isLoading"
        [disabled]="isLoading"
      >
        <span *ngIf="!isLoading">Iniciar sesión</span>
        <i *ngIf="isLoading" class="pi pi-spinner pi-spin ml-2"></i>
      </button>

      <!-- Botones sociales -->
      <div class="space-y-4 pt-6">
        <button
          type="button"
          (click)="loginWithGoogle(); $event.preventDefault()"
          class="flex items-center justify-center w-full py-3 bg-white text-gray-900 rounded-none hover:bg-gray-50 transition border border-gray-300"
        >
          <img
            src="https://www.svgrepo.com/show/355037/google.svg"
            class="w-6 h-6 mr-3"
            alt="Google"
          />
          <span class="text-lg">Continuar con Google</span>
        </button>
        <button
          type="button"
          (click)="loginWithFacebook(); $event.preventDefault()"
          class="flex items-center justify-center w-full py-3 bg-white text-gray-900 rounded-none hover:bg-gray-50 transition border border-gray-300"
        >
          <img
            src="https://www.svgrepo.com/show/452196/facebook-1.svg"
            class="w-6 h-6 mr-3"
            alt="Facebook"
          />
          <span class="text-lg">Continuar con Facebook</span>
        </button>
      </div>

      <!-- Enlaces -->
      <div class="text-center space-y-3 mt-6">
        <p class="text-base">
          <a
            (click)="redirectTo('forgot-password')"
            class="text-gray-900 underline hover:text-gray-700 cursor-pointer"
          >
            ¿Olvidaste tu contraseña?
          </a>
        </p>
        <p class="text-base">
          ¿No tienes cuenta?
          <a
            (click)="redirectTo('Sign-up')"
            class="text-gray-900 underline hover:text-gray-700 cursor-pointer"
            >Regístrate</a
          >
        </p>
      </div>
    </form>

    <div class="text-center text-sm text-gray-500 mt-8 space-x-4">
      <a
        (click)="redirectTo('terminos')"
        class="underline hover:text-gray-900 cursor-pointer"
        >Términos</a
      >
      <a
        (click)="redirectTo('politicas')"
        class="underline hover:text-gray-900 cursor-pointer"
        >Privacidad</a
      >
    </div>
  </div>
</p-dialog>
