<div class="contenedor-compras">
    <!-- Encabezado con botón de volver -->
    <div class="volver" (click)="volver()">
        <i class="pi pi-arrow-left"></i> Atrás
    </div>

    <!-- Bolsa de Compras -->
    <div class="bolsa-de-compras">
        <h2>Bolsa de Compras</h2>

        <!-- Buscador -->
        <div class="ui center aligned container">
            <div class="ui action input">
                <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm" />
                <button class="ui button">Buscar</button>
            </div>
        </div>

        <!-- Lista de productos -->
        <div class="producto" *ngFor="let producto of filteredProducts">
                <!-- Encabezado con la fecha de compra -->
                <div class="ui grid">
                    <div class="four wide column">
                        <p>Fecha de Compra: {{ producto.fechaCompra | date:'shortDate' }}</p>
                    </div>
                    <div class="four wide column">
                        <p>Fecha de Recogida: {{ producto.fechaRecogida | date:'shortDate' }}</p>
                    </div>
                </div>

                <div class="content">
                    <img [src]="producto.imagen" [alt]="producto.nombre" class="ui small image" />
                    <div class="detalles">
                        <div class="ui grid">
                            <div class="four wide column">
                                <p><strong>Fecha de Recogida:</strong> {{ producto.fechaRecogida | date:'shortDate' }}</p>
                            </div>
                        </div>
                        <h3>{{ producto.nombre }}</h3>
                        <p><strong>Precio:</strong> ${{ producto.precio }}</p>
                        <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
                        <p><strong>Total:</strong> ${{ producto.total }}</p>
                    </div>
                </div>

                <!-- Estado de Recogida -->
                <div class="extra content estado-recogida">
                    <p class="estado {{ producto.estado }}">{{ producto.estado }}</p>
                    <ng-container *ngIf="producto.isRecodigo; else elseTemplate">
                        <p class="recogida">Recogido en tienda</p>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p class="recogida pendiente">Pendiente en recoger</p>
                    </ng-template>
                </div>
        </div>
    </div>
</div>
