<div class="container-card">
  <h2 class="accessory-message">Elegancia y estilo</h2>
  <!-- Desktop view (tarjetas normales) -->
<div *ngIf="!isMobile">
  <div class="card-hero" *ngFor="let card of cards; let i = index" [class.reverse]="i % 2 !== 0">
    <img [src]="card.image" alt="Imagen" class="card-img" />
    <div class="card-text">
      <h2>{{ card.title }}</h2>
      <p>{{ card.text }}</p>
    </div>
  </div>
</div>

<!-- Mobile view (carrusel con texto encima de la imagen) -->
<p-carousel *ngIf="isMobile" [value]="cards" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="6000">
  <ng-template pTemplate="item" let-card>
    <div class="card-hero-mobile">
      <img [src]="card.image" alt="Imagen" />
      <div class="overlay">
        <div class="card-text">
          <h2>{{ card.title }}</h2>
          <p>{{ card.text }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

  <div class="secciones">
    <!-- <section class="inspiracion">
    <h1>Inspiración y Novedades</h1>
 <p>
   Mantente al día con las últimas tendencias de diseño, los mejores consejos y mucho más. Aquí encontrarás contenido relevante y útil.
 </p>
 <div class="video-container">
   <video controls>
     <source src="video.mp4" type="video/mp4">
     Tu navegador no soporta la etiqueta de video.
   </video>
 </div>
</section> -->

    <!-- <section class="resenas">
 <h2>Reseñas de clientes</h2>
 <p>
   Según el éxito de las soluciones, las reseñas de los clientes ayudan a mejorar nuestro servicio y atender mejor a nuestras comunidades.
 </p>
 <div class="resenas-grid">
   <div class="resena">
     <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 1">
     <h3>Automatic processing</h3>
     <p>Descripción breve de la reseña del cliente.</p>
   </div>
   <div class="resena">
     <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 2">
     <h3>Automatic processing</h3>
     <p>Descripción breve de la reseña del cliente.</p>
   </div>
   <div class="resena">
     <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 3">
     <h3>Automatic processing</h3>
     <p>Descripción breve de la reseña del cliente.</p>
   </div>
 </div>
</section> -->

    <!-- </div> -->
    <section class="services">
      <h2>Nuestros Servicios</h2>
      <ul>
        <li>
          <strong>Renta y Venta de Vestidos:</strong> Exclusivamente en nuestra
          Boutique física con cita.
        </li>
        <li>
          <strong>Accesorios de Tendencia:</strong> Completa tu look con una
          gama de accesorios: Aretes, collares, bolsos, tacones, bronceador.
        </li>
      </ul>
    </section>

    <section>
      <header>
        <h1>¿Cómo rentar mi vestido?</h1>
      </header>

      <main>
        <section class="steps" *ngIf="!isMobile">
          <div class="step" *ngFor="let item of steps">
            <span class="icon">
              <i [class]="item.icon"></i>
            </span>
            <p [innerHTML]="item.text"></p>
          </div>
        </section>
        
        <p-carousel *ngIf="isMobile" [value]="steps" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
          <ng-template pTemplate="item" let-step>
            <div class="step p-4">
              <span class="icon">
                <i [class]="step.icon"></i>
              </span>
              <p [innerHTML]="step.text"></p>
            </div>
          </ng-template>
        </p-carousel>
        
        <section class="delivery-option">
          <h2>¿No Tengo Tiempo De Recoger O Devolver El Vestido?</h2>
          <p>Por comodidad ofrecemos la opción de...</p>
          <ul>
            <li>Recogida y devolución: $150</li>
            <li>Horario de entrega: 4–5 pm.</li>
          </ul>
        </section>
      </main>
    </section>


  </div>
</div>