<div class="py-3 lg:px-16">
  <app-hero-img></app-hero-img>
</div>

<!-- <main class="box"> -->
<!-- <section class="productos"> -->
<app-productos data-aos="fade-down"></app-productos>
<!-- </section> -->
<!-- </main> -->
<div class="py-3 lg:px-16">

  <app-accesorios data-aos="fade-down"></app-accesorios>

  <!-- <main class="box" data-aos="zoom-in"> -->
  <app-tag data-aos="fade-down"></app-tag>
</div>

<app-figure data-aos="fade-down"> </app-figure>
<!-- </main> -->
<!-- <main class="box" data-aos="zoom-in"> -->
<app-comentarios data-aos="fade-down"></app-comentarios>
<!-- </main> -->